*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
}

#map{
    width: 100%;
    height: 100%;
}

/* Remove shadow */
.leaflet-marker-shadow {
    display: none !important;
}

/* Smooth marker movement */
.leaflet-marker-pane img {
    transition: transform 1s linear;
}
